<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLAYERS</title>
    <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
    <%- include("../partials/playersnavrs") %>

    <% if (!players.length) { %>
     
        <h2>GameMaster has no players yet</h2>

    <% } else { %>

        <h2>Players List</h2>

        <ul>
            <% players.forEach(player => { %>
    
                <li><a href="players/<%= player._id %>"><%= player.name %></a></li>
            
            <% }) %>
        </ul>

    <% } %>
    
     

    
</body>
</html>