<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <%- include("../partials/font")%>
</head>
<body>
    <section class=center>
    <h1>Register to play Haggle!</h1>

    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="Username" required minlength="5">
        <input type="password" name="password" placeholder="Password"  required minlength="8">
        <% if(!gamemasterExists){ %>
        Are You the Gamemaster? <input type="checkbox" name="gamemaster">
        <%}%>
        <input type="submit" value="Register">
    </form>
    </section>
</body>
</html>