<nav>
    <a class="nav-link" href="/">Log In</a>
    <a class="nav-link" href="/gamemaster/players">Players</a>
    <a class="nav-link" href="/gamemaster/rules">Rules</a>  
    <a class="nav-link" href="/gamemaster/items">Items</a>
    <a class="nav-link" href="/gamemaster/trade">Trade!</a>
</nav>