<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haggle!</title>
    <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
    <h1>Welcome to Haggle!</h1>
    <h2>Are you a player or the gamemaster?</h2>
    <section class="buttons">
        <button>Player</button>
        <button>Gamemaster</button>
    </section>
</body>
</html>