main{
    height: 96vh;
    display: flex;
    flex-direction: column;
   /*  align-items: center;
    justify-content: space-around; */
}

h1{
    margin: auto;
}

ul{
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}

li{
    display: flex;
    flex-direction: column;
    max-height: 260px;
    width: 160px;
    overflow-y: auto;
    margin: 0 25px;
    border-style: solid;
}

p:first-child{
    align-self: flex-start;
}