
main{
    height: 96vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

section{
    height: 65%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    border-style: solid;
    background-color: orange;
    overflow-y: auto;
}

div h2{
    align-self: flex-start;
    padding: 0px 0 0 20px;
}

ul{
    height: 100%;
    width: 100%;
    margin: 35px 0 0 0px;
    overflow-y: scroll;
    font-size: 22px;
}

li{
    list-style: none;
    margin: 15px auto;
}

