
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Fugaz One', cursive;
}

body{
    background: rgb(227,145,2);
    background: radial-gradient(circle, rgba(227,145,2,1) 0%, rgba(255,89,0,0.9948354341736695) 100%);
    color: black;
    height: 100vh;
    width: 100vw;
}

nav{
    height: 30px;
    width: 100vw;
    overflow: hidden;
    background: rgb(227,145,2);
    background: radial-gradient(circle, rgba(255,89,0,0.9948354341736695) 0%, rgba(227,145,2,1) 100%);
}

.nav-link{
    float: left;
    color: black;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
  }

.nav-link:hover {
    background-color: black;
    color: darkorange; 
}

h1, h2, form, p, li, a, .buttons, .Player, .info{
    text-align: center;
    padding: 3px;
}

.center{
    border: solid 1px;
    background-color: darkorange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#delete-form{
    display: inline;
}

.edit, .info, .player, .item{
    border: solid 3px;
    background-color: orange;
    margin: 5px;
    max-width: 400px;
}

.rule-info{
    min-height: 175px;
}

.rule-edit{
    overflow-y: scroll;
    height: 175px;
}

.edit{
    display: none;
}

ul{
    list-style-type: none;
}

#list{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#form{
    border-top: solid 5px;
    margin-top: 15px;
}