<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players</title>
    <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
    <%- include("../partials/nav") %>
    <h1>Players Page</h1>
    <% players.forEach(player =>{ %> 
        <section class="Player">
            <%= player.name %>
            <a href="/gamemaster/players/<%=player._id%>/rules">Rules</a>
            <a href="/gamemaster/players/<%=player._id%>/items">Items</a>
        </section>
    <% }) %> 
</body>
</html>