<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamemaster Players Page</title>
    <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
    <%- include("../partials/nav") %>
    <h1>Players Page</h1>
    <% players.forEach(player =>{ %> 
        <section class="Player">
            <%= player.name %>
            <a href="/gamemaster/players/<%=player._id%>/rules">Rules</a>
            <a href="/gamemaster/players/<%=player._id%>/items">Items</a>
        </section>
    <% }) %> 
    <h2>Add A New Player</h2>
    <form action="/gamemaster/players" method="POST">
        <input type="text" name="name" placeholder="New Player Name"></input>
        <input type="submit" value="Add New Player">
    </form>
</body>
</html>